.navBar{
  background-color: aqua;
  margin: 0;
  padding: 0;
}
ul {

  list-style-type: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom:-25px
}
.Nav-res{
  padding-left: 4px;
  padding-right: 4px;
}

li a {
  display: block;
  color: #8e94a9;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 12px;
  border-left: 5px solid #181824;
}
.is-active{
  color:tomato;
}
.input-group-text{
  height: 52px;
  outline: 0px;
  border: none
}
ul li.active a{
  color:blue;
  }

li a:hover:not(.active) {
  background-color: #555;
  border-left: 5px solid #555;
  color: white ;
}

.b-border{
    border-bottom: 1px solid rgba(209, 209, 209, 0.616);
   
}
.container-fluid{
  padding-left: 0;
  height: 100vh;
  
}
.f-box{
background-color: rgb(238, 238, 238);
padding: 12px;
}


@media screen and (max-width: 600px) {
  .container-fluid,.container{
    padding-right: 0 !important;
    
  }
  
  
  ul {
    height:30vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom:-25px;
    font-size: 12px;
  }
  .offcanvas-start{
    width: 255px !important;
  }
}
/* .f-box{
  position: fixed;
  bottom: 0;
  width: 100%;
} */
.row{
  margin-left: 0px !important;
  margin-right: 0px!important;
  padding: 0 !important;
}
.col-md-3{
  background-color: #181824;
  padding: 0;

 
}
.offcanvas.show{
background-color: #181824;
}
.login-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
.slide-left{
height: 100vh;
}
.row{
--bs-gutter-x: 0px !important;
}
#right-wrapper{
height: 100vh;
background-color: #F0F1F6;
padding: 10px;
}
.admin-text{
font-weight: 800;
color: #555;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
padding-right: 0px !important; 
}
.div_line{
color: aliceblue;
}
.toggle{
background-color: rgba(77, 77, 77, 0) !important;
font-size:40px !important;;
}
/* icon size */
.nav-link{
fill: currentColor;
width: 20px !important;
height: 20px!important;
color: #fff;
padding: 2px;
margin: 4px;
border-radius: 3px;
}
.nav-link:hover{
  fill: currentColor;
  width: 20px !important;
  height: 20px!important;
  color: #fff;
  padding: 2px;
  margin: 4px;
  border-radius: 3px;
  }
.btn-logout{
  fill: currentColor;
  width: 20px !important;
  height: 20px!important;
  color:red;
  padding: 2px;
margin: 4px;

}
.btn-close{
  background-color: #fff;
}
@media (min-width: 1200px){
  #right-wrapper{
    height: 100vh;
    background-color: #F0F1F6;
    width: 88% !important;
    }
    #left-Nav{
      height: 100vh;
      width: 12% !important;
      }
}
.offcanvas-body{
  padding: 0px !important;
}