.navBar{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

ul {
    height:100vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom:-25px
  }
  .Nav-res{
    padding-left: 4px;
    padding-right: 4px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #e2e2e2;
    color:#444;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .b-border{
      border-bottom: 1px solid rgba(209, 209, 209, 0.616);
  }
  .container-fluid{
    padding-left: 0;
    
  }
  .f-box{
 background-color: rgb(238, 238, 238);
 padding: 12px;
  }
  @media screen and (max-width: 600px) {
    .container-fluid{
      padding-right: 0;
      
    }
    ul {
      height:30vh;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom:-25px
    }
  }
  .f-box{
    position: fixed;
    bottom: 0;
    width: 100%;
  }